
.navbar {
    background: white;
}

#latitude {
    font-family: Georgia, serif;
}

.body {
    background-color: gray;
}

.main {
    margin-top: 30px;
	margin-bottom: 60px;
	padding: 10px 30px 5px;
	color: black;
	background-color: white;
}

.sidebar {
    margin-top: 30px;
	padding: 10px 30px 10px;
	color: black;
	background-color: white;
}

#landing_image {
    float: left;
    height: 200px;
    width: 230px;
}