

#latitude {
    font-family: Georgia, serif;
}

body {
    background-color: rgb(235, 235, 235);
}

#landing_image {
    float: left;
    height: 200px;
    width: 230px;
}

.main {
    border-style: solid;
    border-width: 5px;
    border-color: white;
    background-color: white;
    margin-top: 60px;
    padding: 30px;
}

h1 {
    font-family: Georgia, serif;
    color: #058fa1;
}

.container {
    background-color: white;
    margin-top: 50px;
    margin-right: 200px;
    margin-bottom: 100px;
    padding: 30px;
}

h2 {
    font-family: Georgia, serif;
    color: #058fa1;
    text-align: center;
}

.sidebar {
    border-style: solid;
    border-width: 5px;
    border-color: white;
    background-color: white;
    margin-top: 60px;
    padding: 30px;
}

.comparison {
    background-color: white;
}

@media (max-width: 990px) {
    .navbar-expand-lg{
        background-color: #058fa1 !important;
    }
    
    #latitude {
        background-color: white !important;
        color: black !important;
    }
    
}